<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <title>OrgiCheck</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand"> <img src="{{ url_for('static',filename='img/orgicheck lolgomini.png') }}" style="height: 3rem;" alt="logo" /></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="#cam" class="nav-link">Camera Device Connection</a>
            </li>
            <li class="nav-item">
              <a href="#team" class="nav-link">Team</a>
            </li>
          </ul>
        </div>
      </div>
</nav>
    <!-- Showcase -->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>Check your Cucumbers with <span class="text-warning"> OrgiCheck&trade; Smart</span></h1>
            <p class="lead my-4">
              Our utmost aim is to help our community to explore the real status of the fruits and vegetables that they are consuming. Use <span class="text-warning"> OrgiCheck&trade; Smart</span> 
              to check whether you are paying real value of vegetable and fruits.
            </p>
            <a href="#instructions" class="btn btn-success btn-lg">
              Instructions
            </a>
            <!-- <button
              class="btn btn-success btn-lg"
              data-bs-toggle="modal"
              data-bs-target="#enroll"
            >
              Get Start
            </button> -->
          </div>
          <img
            class="img-fluid w-25 d-none d-sm-block"
            src="{{ url_for('static',filename='img/orgicheck lolgomini.png') }}"
            alt=""
          />
        </div>
      </div>
      <br>
      <br><br>
    </section>

    <!-- Newsletter -->
    <section class="bg-success text-light p-5">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <h4 class="mb-3 mb-md-0">Enter your camera device ip address <span class="text-warning"> OrgiCheck&trade; Smart</span></h4>

          <div class="input-group news-input">
            <input type="text" class="form-control" placeholder="Enter ip address" />
            <button class="btn btn-dark btn-lg" type="button">Connect</button>
          </div>
          <span style="padding-left:50px;" class="mb-3 mb-md-0"></span>
        </div>
      </div>
    </section>

    <!-- Boxes -->
    <section id="check" class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-bookmark-heart"></i>
                </div>
                <h3 class="card-title mb-3">Capture Image</h3>
                <button data-bs-toggle="modal"
                data-bs-target="#organic" class="btn btn-success">Device Camera</button>
              </div>
            </div>
          </div>
          <div class="col-md">
            <form action="#result" method=POST enctype=multipart/form-data>
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <h3 class="card-title mb-3">Upload Image</h3>
                <input class="form-control" type=file name=file required>
                <button type=submit value=Upload class="btn btn-success mb-2 my-4">Upload and Predict</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </section>

    <section id="result" class="p-5 bg-success">
        <div class="container">
          <h2 class="text-center text-white">Result</h2>
          <p class="lead text-center text-white mb-5">
            <span class="text-warning"> OrgiCheck&trade; Smart</span>
          </p>
          <div class="row g-4">
            <div class="col-lg-6 d-flex flex-column">
              <div class="row">
                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body h-75">
                      <div class="card bg-light">
                        <div class="card-body text-center">
                          {% if imagesource %}
                          <img
                            src="{{imagesource}}"
                            style="width: 500px;"
                            alt=""
                          />
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex flex-column">
              <div class="row">
                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body h-75">
                      <div class="card bg-light">
                        <div class="card-body text-center">
                          {% if pred1 %}
                          {% if pred1 == "Organic" %}
                          <img
                            src="http://www.cssmyschool.info/schimg/done.gif"
                            style="width:50px;"
                            alt=""
                          />
                          <h5 class="card-title mb-3">Its {{pred1}}</h5>
                          <h4 class="card-title mb-3">Organic = {{labelOrg}} %</h4>
                          <h4 class="card-title mb-3">Inorganic = {{labelIno}} %</h4>
                          {% else %}
                          <img
                            src="{{ url_for('static',filename='img/wrong.gif') }}"
                            style="width: 100px;"
                            alt=""
                          />
                          <h5 class="card-title mb-3">Its {{pred1}}</h5>
                          <h4 class="card-title mb-3">Inorganic = {{labelIno}} %</h4>
                          <h4 class="card-title mb-3">Organic = {{labelOrg}} %</h4>
                          {% endif %}
                        {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="instructions" class="p-5 bg-white bg-success">
        <div class="container">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <h3 class="card-title mb-3">Instructions</h3>
            <p>Before uploading the image, the images should be taken by placing the cucumber horizontally on a clear background in a well lighted place and not low light.</p>
          </div>
        </div>
      </div>
      </div>
      </section>

    <section id="team" class="p-5 bg-dark bg-success">
      <div class="container">
        <h2 class="text-center text-white">Our Team</h2>
        <p class="lead text-center text-white mb-5">
          The team behind <span class="text-warning"> OrgiCheck&trade; Smart</span>
        </p>
        <div class="row g-4">
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/men/11.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Giwantha Wijekoon</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/men/12.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Lakshan Wijewardane</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assgnn hnhnnj
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/men/12.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Lahiru Sanka Kumara</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/women/12.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Sethma Wattegedara</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact & Map -->
    <section class="p-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Main Location:</span> 50 Main st Malabe
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Phone No:</span> (+94) 11-5555-555
              </li>
              <li class="list-group-item">
                <span class="fw-bold">WhatsApp No:</span> (+94) 11-5555-555
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Email:</span>
                info@orgicheck.com
              </li>
            </ul>
          </div>
          <div class="col-md">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="p-5 bg-dark text-white text-center position-relative">
      <div class="container">
        <p class="lead">Copyright &copy; 2021 OrgiCheck</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

    <script>
      mapboxgl.accessToken =
        'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [79.9696, 6.9061],
        zoom: 13,
      })
    </script>
<script>
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
  </script>
  </body>
</html>
