<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <title>OrgiCheck</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand"> <img src="{{ url_for('static',filename='img/orgicheck lolgomini.png') }}" style="height: 3rem;" alt="logo" /></a>
        
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="#cam" class="nav-link">NDVI Device Connection</a>
            </li>
            <li class="nav-item">
              <a href="#team" class="nav-link">Team</a>
            </li>
          </ul>
        </div>
      </div>
</nav>
    <!-- Showcase -->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>Check your Oranges with <span class="text-warning"> OrgiCheck&trade; Smart</span></h1>
            <p class="lead my-4">
                The device developed uses Near Infrared rays to check organic 
                content of the subject. Use <span class="text-warning"> OrgiCheck&trade; Smart</span> 
              to check whether you are paying real value of vegetable and fruits.
            </p>
            <a href="#check" class="btn btn-success btn-lg">
              Instructions
            </a>
            <!-- <button
              class="btn btn-success btn-lg"
              data-bs-toggle="modal"
              data-bs-target="#enroll"
            >
              Get Start
            </button> -->
          </div>
          <img
            class="img-fluid w-25 d-none d-sm-block"
            src="{{ url_for('static',filename='img/orgicheck lolgo.png') }}"
            alt=""
          />
        </div>
      </div>
      <br>
      <br><br>
    </section>

    <!-- Newsletter -->
    <section class="bg-light text-light p-3">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <h4 class="mb-3 mb-md-0 text-dark">Enter your NDVI device Id <span class="text-warning"> OrgiCheck&trade; Smart</span></h4>
          <form action="/ndvi#result" method="post">
          <div class="input-group">
            <input type="text" name="name" class="form-control" placeholder="Enter ip address" required/>
            <button class="btn btn-dark btn-lg" type="submit" name="submit" value="add">Connect</button>
          </div>
          </form>
          <div>
            <span  class="mb-3 mb-md-0 text-dark text-center">{{conn}}</span>
          </div>
        </div>
      </div>
    </section>

    <!-- Boxes -->
    <section id="result" class="p-5 bg-success">
        <div class="container">
          <h2 class="text-center text-white">Result</h2>
          <p class="lead text-center text-white mb-5">
            <span class="text-warning"> OrgiCheck&trade; Smart</span>
          </p>
          <div class="row g-4">
            <div class="col-md-6">
              <div class="card" style="background: linear-gradient(180deg,#f5f4f3,#aee4ae);">
                <div class="card-body text-center">
                    <p>The device developed uses Near Infrared rays to check organic 
                        content of the subject.Their displays the measured value in terms of an NDVI reading (ranging from 0.00 to 0.99)</p>
                    <hr>    
                        <h4 id="data" class="card-title mb-3">Organic content - <span class="text-success" >{{n}}</span> (NDVI)</h3>
                    <hr>
                  <div class="progress">
                    
                  </div>
                <p style="float: left;">| 0 High pesticides</p><p style="float:right">Low pesticides 1 |</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="card" style="background: linear-gradient(180deg,#e4e3e1,#aceca6);">
                <div class="card-body text-center">
                <br>
                  <h3 class="card-title mb-3"> <i class="bi bi-bookmark-heart"></i> Organic content</h3>
                  <hr>
                  <br>
                  <div class="container-fluid">
                    {% if n %}
                    <h4>Organic content = {{n}} (NDVI)</h4>
                    <h5>Visible reflection = {{v}} lux</h5>
                    <h5>Nir reflection = {{r}} lux</h5>
                    {% endif %}
                    {% if mess %}
                      <h2 class="text-center text-danger"> {{ mess }}</h2>
                
                      {% endif %} 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="check" class="p-5">
        <div class="container">
          <div class="row text-center g-4">
            <div class="col-md" id="toggle">
              <div class="card bg-dark text-light">
                {% if key %}
                <div class="card-body text-center" >
                  <div class="h1 mb-3">
                    <i class="bi bi-bookmark-heart"></i>
                  </div>
                  <h3 class="card-title mb-3">Check organic content</h3>
                  <a href="/refresh/{{key}}"><button type="submit" name="submit" value="add" class="btn btn-success">Refresh</button></a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>

    <section id="team" class="p-5 bg-dark bg-success">
      <div class="container">
        <h2 class="text-center text-white">Our Team</h2>
        <p class="lead text-center text-white mb-5">
          The team behind <span class="text-warning"> OrgiCheck&trade; Smart</span>
        </p>
        <div class="row g-4">
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/men/11.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Giwantha Wijekoon</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/men/12.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Lakshan Wijewardane</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assgnn hnhnnj
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/men/12.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Lahiru Sanka Kumara</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/women/12.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Sethma Wattegedara</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact & Map -->
    <section class="p-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Main Location:</span> 50 Main st Malabe
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Phone No:</span> (+94) 11-5555-555
              </li>
              <li class="list-group-item">
                <span class="fw-bold">WhatsApp No:</span> (+94) 11-5555-555
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Email:</span>
                info@orgicheck.com
              </li>
            </ul>
          </div>
          <div class="col-md">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="p-5 bg-dark text-white text-center position-relative">
      <div class="container">
        <p class="lead">Copyright &copy; 2021 OrgiCheck</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

    <script>
      mapboxgl.accessToken =
        'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [79.9696, 6.9061],
        zoom: 13,
      })
    </script>
<script>
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
  </script>
  <script type="text/javascript">    
    $(document).ready(function(){    
     var progressBarVal= "{{n}}" * 100;    
     var html="<div class='progress-bar bg-success progress-bar-striped progress-bar-animated' role='progressbar' aria-valuenow="+progressBarVal+" aria-valuemin='0' aria-valuemax='100' style='width:"+progressBarVal+"%'></div>";    
     $(".progress").append(html);    
    });    
    </script> 
  </body>
</html>