<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{{ url_for('classify')}}"method="post">
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <form action="{{ url_for('price')}}"method="post">
        <button type="submit" class="btn btn-primary btn-block btn-large">Pre55</button>
    </form>
   <br>
   <br>
   {{ prediction_text_class }}

    {{ vegita }}
{{ dte }}

{{ pr }}
</body>
</html>